<ng-template>
  Loading....
</ng-template> 

<div class="trm-contacts-editor" *ngIf="contact; else loading" >


  <md-card>
    <md-card-title-group class="fullBleed editing">
      <img md-card-md-image [src]="contact?.image || ''">
      <md-card-title>{{contact?.name}}</md-card-title>
      <md-card-subtitle>{{contact?.email}}</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <div fxLayout="column">
        <md-input-container fxFlex>
          <input mdInput placeholder="Name"   name="name" [(ngModel)]="contact.name">
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="Email" name="email"  [(ngModel)]="contact.email">
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="Phone" name="phone" [(ngModel)]="contact.phone" >
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="Website" name="website" [(ngModel)]="contact.website">
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="Birthday" name="birthday" type="date" [(ngModel)]="contact.birthday">
        </md-input-container>
        <fieldset fxLayout="column">
          <legend>Address</legend>
          <md-input-container fxFlex>
            <input mdInput placeholder="Street" name="street"  [(ngModel)]="contact.address.street">
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Zip" name="zip" [(ngModel)]="contact.address.zip">
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="City" name="city" [(ngModel)]="contact.address.city">
          </md-input-container>
        </fieldset>
      </div>
    </md-card-content>
    <md-card-actions fxLayout fxLayoutAlign="center center">
      <button md-button (click)="save(contact)" title="Save contact">Save</button>
      <button md-button (click)="cancel(contact)" title="Cancel editing">Cancel</button>
    </md-card-actions>
  </md-card>
</div>