<div class="trm-contacts-detail">
  <md-card>
    <md-card-title-group class="fullBleed">
      <img md-card-md-image [src]="contact?.image || ''">
      <md-card-title>{{contact?.name}}</md-card-title>
      <md-card-subtitle>{{contact?.mail}}</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <dl>
        <dt>Phone:</dt>
        <dd>{{contact?.phone}}</dd>
        <dt>Website:</dt>
        <dd>{{contact?.website}}</dd>
        <dt>Birthday:</dt>
        <dd>{{contact?.birthday | date:'shortDate' }}</dd> 
        <dt>Street:</dt>
        <dd>{{contact?.address.street}}</dd>
        <dt>Zip:</dt>
        <dd>{{contact?.address.zip}}</dd>
        <dt>City:</dt>
        <dd>{{contact?.address.city}}</dd>
      </dl>
    </md-card-content>
    <md-card-actions fxLayout fxLayoutAlign="center center">
      <a md-button  routerLink="/"   title="Go back to list">Go Back</a>
      <a md-button  routerLink="edit" title="Edit...">Edit...</a>
      <a md-button  *ngIf="contact" [routerLink]="['/contact', contact?.id  ,'edit']"   title="Edit  {{contact?.name}} ">Edit...</a>
    </md-card-actions>
  </md-card>
</div>